.presets {
    display: inline-block;
    margin: .5rem;
    padding: 0 1rem .5rem;
    border: 4px dotted white;

    legend  {
        padding: 8px;
    }

    label {
        display: inline;
    }
}