.settings {
    display: inline-block;
    margin: .5rem;
    padding: 0 1rem .5rem;
    width: 300px;
    border: 4px dotted white;

    legend  {
        padding: 8px;
    }

    label {
        display: inline;
    }

    div {
        height: 2.5rem;
        
        input {
            float: right;
            min-width: 100px;
            text-align: right;
            font-family: 'Courier New', Courier, monospace;
            color: black;
        }
    }
}